# Final

## Introduction

Welcome to this notebook. In this notebook, we will explore various concepts related to data science.

## Data Science Languages

1. Python
2. R
3. Julia
4. Scala
5. SQL

## Data Science Libraries

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch

## Data Science Tools

| Tool           | Description                                        |
|----------------|----------------------------------------------------|
| Jupyter Notebook | Interactive coding environment                     |
| RStudio         | IDE for R programming                               |
| Anaconda        | Distribution of Python and data science libraries   |
| Tableau         | Data visualization tool                            |
| Apache Spark    | Distributed data processing framework              |
| SQL            | Database querying language                         |
| Git             | Version control system                             |

## Arithmetic Expression Examples

Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division. Let's explore some examples in the following code cells.

In [4]:
# Multiply and Add Numbers
num1 = 5
num2 = 3

product = num1 * num2
sum = num1 + num2

print("Product:", product)
print("Sum:", sum)

Product: 15
Sum: 8

In [10]:
# Convert Minutes to Hours
def conv (minute):
    hours = minutes / 60
    print("Hours:", hours)
conv(120)

Hours: 2.0

## Objectives

- Explore data science languages and libraries
- Understand arithmetic expressions and calculations
- Learn about data science tools and their applications

Author: Quan Tan